/* The box of things to learn */
.learn-menu {
    height: 500px;
    width: 500px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.learnable {
    height: 200px;
    width: 200px;
    float: left;
}

/* You need a container to put this in so it's centered and square */
/* You could always use this as the container, though. Center it. Square it */
.learnable-img {
    height: 70%;
    width: auto;
    margin: auto;
}

.learnable-img img {
    display: block;
    margin: auto;

    /* Center vertically */
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/

    border-radius: 100%;
}

.learnable-title {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}