/* The box of things to learn */
.learn-menu {
    height: 500px;
    width: 500px;
    background-color: #fff;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.learnable {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

/* You need a container to put this in so it's centered and square */
/* You could always use this as the container, though. Center it. Square it */
.learnable-img {
    
    height: 70%;
    width: auto;
    
    

    margin: auto;
    background-color: black;
    
}

.learnable-img img {
    display: block;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 100%;
}

.learnable-title {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}